# Ignore datasets, experiments, and yolov9 folders and files
/aggregated_weights/
/backup/
/experiments/
/wandb/
/archive/
yolov9-*.pt
yolo9t2*.sif

# Ignore the contents of data directories, but keep the placeholder READMEs
/datasets/*
!/datasets/README.md
/federated_data/*
!/federated_data/README.md

# Ignore jupyter notebook checkpoint directories
.ipynb_checkpoints/
.vscode

# 忽略 python 的快取檔案與快取資料夾
__pycache__/
*.pyc
*.pyo
