# Ignore datasets, experiments, and yolov9 folders and files
/aggregated_weights/
/backup/
/client_outputs/
/experiments/
/slurm_logs/
/wait/
/wandb/
yolov9-c.pt
yolo9t2_ngc2306_20241226.sif

# Ignore the contents of data directories, but keep the placeholder READMEs
/datasets/*
!/datasets/README.md
/federated_data/*
!/federated_data/README.md

# Ignore jupyter notebook checkpoint directories
.ipynb_checkpoints/
