# Common dependencies
numpy>=1.18.5
pandas>=1.1.4
matplotlib>=3.2.2
seaborn>=0.11.0
tqdm>=4.64.0
PyYAML>=5.3.1
scipy>=1.4.1

# Deep Learning
torch>=1.7.0
torchvision>=0.8.1

# Local validation dependencies
opencv-python>=4.1.1
Pillow>=7.1.2

# Other utilities
psutil
gitpython
